<footer>
    <div class="container">
        <div class="footer-content">
            <div class="social-links">
                <a href="https://github.com/demoofbug/rova-app" class="social-link">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>